.bg-primary {
  color: $body-color-light;

  .btn {
    color: $body-color-light;

    &:hover {
      color: $body-color-light;
    }
  }

  .btn-secondary {
    border-color: darken($secondary, 5%);
    background-color: darken($secondary, 5%);

    &:hover {
      border-color: $secondary;
      background-color: $secondary;
    }
  }
}
