.flag {
  cursor: pointer;
  position: relative;
  line-height: 0;
  margin-bottom: $spacer;

  .flag-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $body-color-light;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: $gradient;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-base;
  }

  &:hover,
  &.hovered,
  &.clicked {
    .flag-text {
      opacity: 1;
    }
  }
}

#map {
  background-color: #c9e7f6;
}

.country {
   transition: $transition-base;
   cursor: pointer;

   &:hover,
   &.hovered,
   &.clicked {
     fill: rgb(10,45,124)!important;
   }
 }
