.bg-primary {
  color: $body-color-light;

  a {
    color: $bg-primary-link-color;

    &:hover {
      color: $bg-primary-link-hover-color;
    }
  }
}

.page-link {
  display: flex;
  justify-content: space-between;
}

@include media-breakpoint-up(lg) {
  .page-link {
    width: 70%;
  }
}
