.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .nav-link {
    color: $body-color-light;

    &:hover {
      color: mix($body-color-light, $primary, 80%);
    }
  }
}

.post-navigation {
  padding-bottom: 60px;

  .navbar-nav {
    width: 100%;
    flex-direction: row;
  }

  .next {
    margin-left: auto;
  }
}
