.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: auto;

  .social-icons {
    margin-bottom: 20px;
    font-size: $font-size-lg;
  }

  .social-icon {
    color: $body-color-light;

    + .social-icon {
      margin-left: 15px;
    }
  }
}

.footer-menu {
  display: flex;
  justify-content: center;

  .nav-link {
    $padding: 15px;

    display: inline;
    padding-right: $padding;
    padding-left: $padding;
    color: $body-color-light;

    + .nav-link {
      position: relative;

      &:before {
        $diameter: 4px;

        position: absolute;
        top: 50%;
        left: -($diameter/2);
        transform: translateY(-50%);
        background-color: $white;
        width: $diameter;
        height: $diameter;
        content: '';
      }
    }
  }
}
