.header {
  position: relative;
  background-image: url("/images/header.jpg");
  background-size: cover;
  padding-top: 100px;
  height: 260px;

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: $gradient;
    width: 100%;
    height: 80%;
    content: '';
  }

  .header-text {
    position: relative;
    z-index: 1;
  }

  h1 {
    padding-bottom: 60px;
  }

  p {
    font-size: $font-size-lg;
  }
}

.header-home {
  padding-top: 100px;
  height: 380px;

  h1 {
    padding-bottom: 30px;
  }
}

@include media-breakpoint-up(sm) {
  .header-home {
    height: 340px;
  }
}

@include media-breakpoint-up(lg) {
  .header-home {
    padding-top: 180px;
    height: 500px;

    h1 {
      pading-bottom: 60px;
    }
  }
}
