.bg-primary {
    color: $gray-300;

    a {
        color: $gray-300;
    }
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headlines;
}
