.bg-primary,
.text-light {
  color: $body-color-light !important;
}

img,
svg {
  margin-bottom: $spacer;
}

svg {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-display: swap;
}
