.bg-primary {
  color: $body-color-light;
}

img,
svg {
  margin-bottom: $spacer;
}

svg {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
