// Roboto

@font-face {
  font-family:'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family:'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

// Kaushan

@font-face {
  font-family:'Kaushan';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Kaushan_Script/KaushanScript-Regular.ttf) format('truetype');
}
