<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header_home.html" . -}}
        <section id="introduction">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <h2>{{ .Title }}</h2>
                        {{ .Content }}
                    </div>
                    <div class="col-xl-4">
                        <img src="/images/home/heart.jpg" class="img-fluid img-border" />
                    </div>
                </div>
                <div class="text-center c2a">
                    <a class="btn btn-secondary" href="">Read more about Lilo and Mike</a>
                </div>
            </div>
        </section>
        <section id="newest" class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <img src="#" />
                    </div>
                    <div class="col-xl-8 text-xl-right">
                        <h2>Check out their most recent adventure!</h2>
                        <div class="article-teaser">
                            {{ range first 1 (where .Site.Pages "Type" "post") }}
                                <div class="article-teaser--head">
                                    <span>{{ .Title }}</span>
                                    <span>{{ .Date.Format "02 Jan, 2006" }}</span>
                                </div>
                                <div class="article-teaser--body">
                                    <p>
                                        {{ .Description }}
                                        <a href="{{ .RelPermalink }}">More</a>
                                    </p>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="text-center c2a">
                    <a class="btn btn-secondary" href="#">See all adventures</a>
                </div>
            </div>
        </section>
        <section id="countries">
            <div class="container">
                <h2>Check out the places they've been!</h2>
                <div class="row">
                    <div id="map" class="col-xl-8">
                    </div>
                    <div id="info" class="col-xl-4 d-none">
                        <h3>Country</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a href="#">See all adventures in <span>Country</span></a>
                    </div>
                </div>
                <div id="flags">
                </div>
            </div>
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
