<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header_home.html" . -}}
        <section id="introduction">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <h2>{{ .Title }}</h2>
                        {{ .Content }}
                    </div>
                    <div class="col-xl-4">
                        <img src="/images/home/heart.jpg" class="img-fluid img-border" />
                    </div>
                </div>
                <div class="text-center c2a">
                    <a class="btn btn-secondary" href="">Read more about Lilo and Mike</a>
                </div>
            </div>
        </section>
        <section id="newest" class="bg-primary">
            <div class="container">
                <div>
                    <h2>Check out their most recent adventure!</h2>
                </div>
                <div class="row">
                    {{ range first 1 (where .Site.Pages "Type" "post") }}
                        <div class="col-xl-4">
                            {{ $img := .Resources.GetMatch "preview.*" }}
                            <img class="img-fluid" src="{{ $img.RelPermalink }}" alt="{{ .Title }}" />
                        </div>
                        <div class="col-xl-8">
                            <div class="article-teaser">
                                <h3 class="article-teaser--head">
                                    <span class="font-weight-bold">{{ .Title }}</span> -
                                    <span>{{ .Date.Format "January 2, 2006" }}</span>
                                </h3>
                                <div class="article-teaser--body">
                                    <p>
                                        {{ .Description }}
                                    </p>
                                    <a href="{{ .RelPermalink }}">Read more</a>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div class="text-center c2a">
                    <a class="btn btn-secondary" href="#">See all adventures</a>
                </div>
            </div>
        </section>
        <section id="countries">
            <div class="container">
                <h2>Check out the places they've been!</h2>
                <div class="row">
                    <div class="col-xl-8">
                        <object id="map" data="/images/map/europe.svg" type="image/svg+xml"></object>
                    </div>
                    <div class="col-xl-4">
                        <div id="info-germany" class="country-info d-none">
                            <h3>Germany</h3>
                            <p class="font-weight-bold">January 1, 2020 - February 1, 2020</p>
                            <p>Lilo and Mike set out from Regensburg on January 1, 2020. This was the beginning of their adventures.</p>
                            <p>They visited several places, including X, Y and Z, before continuing on to wherever.</p>
                            <a class="btn btn-secondary" href="/categories/germany/">See adventures in Germany</a>
                        </div>
                    </div>
                </div>
                <div class="row flags">
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="flag" data-country="germany">
                            <object data="/images/map/flags/germany.svg" type="image/svg+xml"></object>
                            <div class="flag-text">Germany<span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
