<section id="countries">
    <div class="container text-center text-lg-left">
        <h2>{{ .Site.Params.sections.countries }}</h2>
        <div class="row">
            <div class="col col-md-6 col-lg-8 d-none d-md-block">
                {{- partial "map.html" . -}}
            </div>
            <div class="col col-md-6 col-lg-4">
                {{ range $elem_key, $elem_value := .Site.Params.countries }}
                    {{ if .enabled }}
                        <div id="info-{{ $elem_key }}" class="country-info d-none">
                            <h3>{{ .name }}</h3>
                            {{ range .visits }}
                                <p class="font-weight-bold">{{ .date }}</p>
                                <p>{{ .text }}</p>
                            {{ end }}
                            <p><a class="btn btn-secondary" href="/categories/{{ $elem_key }}/">See adventures in {{ .name }}</a></p>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="row flags">
            {{ range $elem_key, $elem_value := .Site.Params.countries }}
                {{ if .enabled }}
                <div class="col-3 col-md-2">
                    <div id="flag-{{ $elem_key }}" class="flag" data-country="{{ $elem_key }}">
                        <object data="/images/map/flags/{{ $elem_key }}.svg" type="image/svg+xml"></object>
                        <div class="flag-text">{{ .name }}</div>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
