<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="newsletter-form">
    <form action="https://googlemail.us17.list-manage.com/subscribe/post?u=5eaa8235dd123164c59ed9c7d&amp;id=2dfb2d2a77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="form-group form-inline">
            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5eaa8235dd123164c59ed9c7d_2dfb2d2a77" tabindex="-1" value="">
            </div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
