
{{ if .Site.Params.newsletter.enabled }}
    <section id="newsletter">
        <div class="container text-center">
            <h2>{{ .Site.Params.sections.newsletter.title }}</h2>
            <p>{{ .Site.Params.sections.newsletter.text }}</p>
            {{ if .Site.Params.newsletter.mailchimp.enabled }}
                {{- partial "mailchimp-form.html" . -}}
            {{ else }}
                <p class="font-italic">No newsletter-form enabled</p>
            {{ end }}
        </div>
    </section>
{{ end }}
